input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.wrapper-header {
    padding-top: 2vh;
    width: 100%;
    height: 100%;
}

.logo_SHD img{
    width: 60%;
    height:auto;
}

.Hand img{
    width: 35%;
    height: auto;
}

.Hand div{
    width: 40%;
    height: 100%;
    display: inline;
}

.Hand{
    margin-top: 3vh;
    z-index: -1;
}

.ADOff {
    position: absolute; /* Add this line */
    bottom: 0;
    width: 90%;
    height: 9%;
    left: 5%;
    display: flex;
    justify-content: center;
    
}

.ADOff img {
    height: 50%;
    width: auto;
    margin-top: 20%;
}

.Hand img:hover {
    cursor:pointer;
}

.ADOff p {
    color: rgb(158, 158, 158);
    font-family: Roboto;
    font-size: 0.8rem;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0px;
    text-align: center;
    display: block;
    text-align: center;
    height: 20%;
    margin-top: 25%;
}

.Change-Skin{
    width: 80%;
    margin-left: 10%;
    justify-content: start;
    display: grid;
    grid-template-columns: repeat(2,50%);
    grid-template-rows: repeat(2,50%);
    height: 5%;
    margin-top: 2vh;
}
.Skin{
    grid-row: 1/1;
    grid-column: 1/1;
    color: rgb(255, 255, 255);
    font-size: 1rem;
    padding: 0;
}

.Dark{
    grid-row: 2/2;
    grid-column: 2/2;
    color: rgb(158, 158, 158);
    font-size: 0.72rem;
    padding: 0;
    margin-top: 1.3vh;
}

.Light{
    grid-column: 1/1;
    grid-row: 2/2;
    color: rgb(158, 158, 158);
    font-size: 0.72rem;
    padding: 0;
    margin-top: 1.3vh;
}

.Active{
    color: rgb(79, 195, 243);
    text-shadow: 0px 0px 6px rgb(79, 195, 243);
}

.Inactive{
    color: rgb(158, 158, 158);
}

.Count form{
    width: 80%;
    background: rgb(114, 114, 114);
    margin-left: 10%;
    margin-top: 1.3vh;
    border-radius: 5px;
    border: 1px solid rgb(255, 255, 255);
    padding-left: 4%;
    color: rgb(220, 200, 200);

}

.Count form input{
    width: 100%;
}

.Count{
    margin-top: 2vh;
}

.Count p {
    color: rgb(255, 255, 255);
    font-size: 1rem;
    padding: 0;
}